
img{
    width: 100%;
}

body{
    font-family: Arial;
    line-height: 25px;
    background-color: yellow;
    margin: 0;
    
}

.column{
    width: 600px;
    margin: 0px auto;
    background-color: whitesmoke;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px pink;
}

h1{
    font-size: 60px;
    font-family: Georgia;
    background-color: rgb(172, 73, 172);
    line-height: 80px;
    padding: 20px;
}
